Images
Cropped Images
.DS_Store
Code/Cropped Images/.DS_Store
Code/Cropped Images.zip
Code/Cropped Images/Idiotswithguns.zip
Code/Cropped Images/.DS_Store
Code/dataset_final
Code/adverse
Code/out_of_sample
Code/dataset_1
*.zip
Code/.ipynb_checkpoints/5_prepare_data_for_upload-checkpoint.ipynb
Code/.ipynb_checkpoints/3_resize_crop-checkpoint.ipynb
Code/.ipynb_checkpoints/6_Initial_CNN-checkpoint.ipynb
Code/.ipynb_checkpoints/maintained_files-checkpoint.csv
Code/.ipynb_checkpoints/6_Initial_CNN-checkpoint.ipynb
.ipynb_checkpoints/Download Data-checkpoint.ipynb
Code/.ipynb_checkpoints/Finalize Dataset-checkpoint.ipynb
Code/Cropped Images/.DS_Store
